ELASTIC_PASSWORD=changeme
KIBANA_PASSWORD=kibana_changeme
HOSTNAME=s1em_hostname
CERTS_DIR=/usr/share/elasticsearch/config/certificates
OPENCTI_ADMIN_EMAIL=opencti_account
OPENCTI_ADMIN_PASSWORD=opencti_password
OPENCTI_ADMIN_TOKEN=9b12e9e8-5987-4811-84f7-a3d7897b17fd
MINIO_ACCESS_KEY=ChangeMeAccess
MINIO_SECRET_KEY=ChangeMeKey
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
CONNECTOR_HISTORY_ID=807705eb-c379-4530-be8a-6b6b1bd39b8f
CONNECTOR_EXPORT_FILE_STIX_ID=874a08cb-eb03-4611-853a-d7646ff678e5
CONNECTOR_EXPORT_FILE_CSV_ID=37035170-f2c6-4dff-a129-84fbe41704fd
CONNECTOR_IMPORT_FILE_STIX_ID=8f03d117-d81f-48a3-a2eb-d950b8bbe4d3
CONNECTOR_IMPORT_DOCUMENT_ID=4e154e0d-b393-459e-87e4-009b768a2c34
CONNECTOR_MISP_ID=4e154e0d-b393-459e-87e4-009b768a2c35
CONNECTOR_MITRE_ID=4e154e0d-b393-459e-87e4-009b768a2c36
CONNECTOR_CVE_ID=4e154e0d-b393-459e-87e4-009b768a2c37
CONNECTOR_AMITT_ID=4e154e0d-b393-459e-87e4-009b768a2c38
CONNECTOR_ALIENVAULT_ID=4e154e0d-b393-459e-87e4-009b768a2c39
CONNECTOR_OPENCTI_ID=4e154e0d-b393-459e-87e4-009b768a2c40
ARKIME_USER=arkime_account
ARKIME_PSWD=arkime_password
COMPOSE_HTTP_TIMEOUT=180
COMPOSE_PARALLEL_LIMIT=50
ALIENVAULT_API_KEY=766ba1df3ab54db9c0fcbf62ef048c3a04c260e8ca65b6c25346084b7b4719ad
MISP_KEY=misp_api_key
SUBFOLDER=n8n
N8N_PATH=/n8n/
N8N_BASIC_AUTH_USER=n8n_account
N8N_BASIC_AUTH_PASSWORD=n8n_password
GENERIC_TIMEZONE=Europe/Berlin
