[Unit]
Description=Bring up network interfaces in promiscuous mode upon boot
After=network.target

[Service]
Type=oneshot
ExecStart=ip link set dev <monitoring_interface> promisc on
ExecStart=ip link set dev <monitoring_interface> up
ExecStop=ip link set dev <monitoring_interface> promisc off
ExecStop=ip link set dev <monitoring_interface> down
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=default.target
