[Unit]
Description=Bring up network interfaces in promiscuous mode upon boot
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "ip link set dev <monitoring_interface> promisc on"
ExecStart=/bin/bash -c "ip link set dev <monitoring_interface> up"
ExecStop=/bin/bash -c "ip link set dev <monitoring_interface> promisc off"
ExecStop=/bin/bash -c "ip link set dev <monitoring_interface> down"
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=default.target